.form-div>h2{
    text-align: center;
}

.folder-form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.add-folder-label{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
}

.input-container{
    display: flex;
    justify-content: center;
    margin: 10px;
}

.input-container>input{
    width: 200px;
    padding: 5px;
    text-align: center;
    background-color: white;
    border-radius: 3px;
    border-style: none;
    font-size: 15px;
}


.button-container-add-folder{
    display: flex;
    justify-content: space-evenly;
}
.button-container-add-folder>button{
    border: none;
    border-radius: 5px;
    padding: 2px;
    text-decoration: none;
    background-color: #05386E;
    color: #EDF5E1;
    width: 80px;
    height: 50px;
    font-size: 15px;  
}


.error{
    text-align:center;
    margin: 10px;
}


@media screen and (min-width: 320px){
    .button-container-add-folder>button{
        width: 100px;
        font-size: 20px;
    } 
}

@media screen and (min-width: 650px){
    .button-container-add-folder>button{
        width: 150px;
        font-size: 20px;
    } 
}