
.note-nav{
    text-align: right;
    margin-right: 15px;

}
.note-nav > h3{
    font-size: 25px;
}

.nav-container-note{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.back-button{
    width: 80px;
    height: 50px;
    font-size: 15px;
    background-color: #05386E;
    border:none;
    border-radius: 5px;
    padding: 2px; 
    color: #EDF5E1;
}



