
.button-container-header{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.button-container-header>.delete-note{
    border: none;
    border-radius: 5px;
    padding: 2px;
    text-decoration: none;
    background-color: #05386E;
    color: #EDF5E1;
    width: 100px;
    height: 50px;
    font-size: 15px;
    margin-top: 10px;
}

h2>a{
    text-decoration: none;
    color: #05386E;
}

.container-div>.note-name{
    text-align: left;
}

.container-div{
    width: 200px;
}
/* span{
    margin-bottom: 10px;
} */
@media screen and (min-width: 320px){
    .container-div{
        width: 400px;
    }  
    .button-container-header>.delete-note{
        width: 150px;
        font-size: 20px;
    }
}

@media screen and (min-width: 650px){
    .app-nav > article >h2>a{
        font-size: 25px;
    }  
    .button-container-header>.delete-note{
        font-size: 20px;
    }
}

@media screen and (min-width: 850px){
    .container-div{
        display: flex;
        justify-content: space-between;
        width: 500px;
    }  

    .container-div>span{
        line-height: 76px;
    }
}