.article{
    display: flex;
}

.button-container-loaded>a>.delete-note{
    width: 50px;
    height: 50px;
    font-size: 15px;
    line-height: 15px;
    border:none;
    border-radius: 5px;
    margin-left: 15px;
    margin-top: 10px;
    color: #EDF5E1;
    background-color: #05386E;
}
.button-container-loaded>a{
    box-shadow: none;
}

.content{
    margin-right: 15px;
}

@media screen and (min-width: 650px){
    .button-container-loaded>a>.delete-note{
        font-size: 20px;
    }
}