*{
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css?family=Poppins|Raleway&display=swap");

body{
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

h1,h2,h3{
  font-family: 'Poppins', sans-serif;
}
button:hover{
  cursor: pointer;
}

.noteful-App{
  display: grid;
  grid-template-areas: "header headerTwo" "nav main";
  grid-template-columns: 1fr 2.3fr;
  grid-template-rows: 120px 1fr;
  min-height: 100vh;
  background-color: #5CDB95;  
  color: #05386B;
}

.app-header{
  grid-area: headerTwo;
  padding-top:32px;
  border-bottom: 3px solid #05386B;
  padding-left: 10px;
  background-color: #379683;
}
.app-header>h1 >a{
  text-decoration: none;
  color: #05386B;
}

.app-nav{
  grid-area: nav;
  height: 100vh;
  overflow: auto;
}

.app-main{
  grid-area: main;
  height: calc(100vh-100px);
  overflow: auto;
  padding-left: 10px;
  background-color: #8ee4af; 
  border-left: 3px solid #05386B;
}

.app-main>section>ul{
  padding: 0px;
  padding-left: 10px;
  margin-left: auto;
  margin-right: auto;
  display:flex;
  flex-direction: column;
}

.app-main>section>ul>li{
  display: flex;
  margin-right: auto;
  margin-left: auto;
  width: 400px;
}

h2{
  font-size: 110%;
}



@media screen and (min-width: 320px){
    h2{
        font-size: 150%;
    }  
}

@media screen and (min-width: 650px){
  .app-main>section>ul{
    padding-left: 30px;
  }

  .app-main>section>ul>li{
    margin-right: 0;
    margin-left: 0;
    width: 500px;
  }
}
